<div class="card-deck">
  <div class="card">
    <a routerLink="/leer">
      <img src="assets/cops.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <a routerLink="/leer">
        <h5 class="card-title">Niño es encontrado muerto por sobredosis de Fortnite</h5>
      </a>
      <a routerLink="/leer">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </a>
    </div>
    <div class="card-footer">
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Deportes</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Nacional</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Los Ángeles</a>
    </div>
  </div>
  <div class="card">
    <a routerLink="/leer">
      <img src="assets/cops.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <a routerLink="/leer">
        <h5 class="card-title">Niño es encontrado muerto por sobredosis de Fortnite</h5>
      </a>
      <a routerLink="/leer">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </a>
    </div>
    <div class="card-footer">
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Deportes</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Nacional</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Los Ángeles</a>
    </div>
  </div>
  <div class="card">
    <a routerLink="/leer">
      <img src="assets/cops.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <a routerLink="/leer">
        <h5 class="card-title">Niño es encontrado muerto por sobredosis de Fortnite</h5>
      </a>
      <a routerLink="/leer">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </a>
    </div>
    <div class="card-footer">
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Deportes</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Nacional</a>
      <a routerLink="/selector" class="mx-1 badge badge-secondary">Los Ángeles</a>
    </div>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <img src="assets/cops.png" class="card-img-top img-fluid" alt="titular1imagen">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/cops.png" class="card-img-top" alt="imagen titular 1">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/cops.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>