<div class="table-responsive">
  <table class="table table-striped table-bordered" style="text-align: center;">
    <thead>
      <tr style="text-align: center;">
        <th scope="col">2019</th>
        <th scope="col">Enero</th>
        <th scope="col">Febrero</th>
        <th scope="col">Marzo</th>
        <th scope="col">Abril</th>
        <th scope="col">Mayo</th>
        <th scope="col">Junio</th>
        <th scope="col">Julio</th>
        <th scope="col">Agosto</th>
        <th scope="col">Septiembre</th>
        <th scope="col">Octubre</th>
        <th scope="col">Noviembre</th>
        <th scope="col">Diciembre</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-primary">
        <th scope="row"colspan="13">Ingresos</th>
      </tr>
      <tr>
        <th scope="row">Ingreso por ventas</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Cobros por deudas</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">otros cobros y/o prestamos</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
    </tbody>
    </table>
    </div> <br>


<div class="table-responsive">
    <table class="table table-striped table-bordered" style="text-align: center;">
        <thead>
            <tr style="text-align: center;">
              <th scope="col">2019</th>
              <th scope="col">Enero</th>
              <th scope="col">Febrero</th>
              <th scope="col">Marzo</th>
              <th scope="col">Abril</th>
              <th scope="col">Mayo</th>
              <th scope="col">Junio</th>
              <th scope="col">Julio</th>
              <th scope="col">Agosto</th>
              <th scope="col">Septiembre</th>
              <th scope="col">Octubre</th>
              <th scope="col">Noviembre</th>
              <th scope="col">Diciembre</th>
            </tr>
          </thead>
          <tbody>
      <tr class="bg-danger">
        <th scope="row" colspan="13">Egresos</th> 
      </tr>
      <tr>
        <th scope="row">Compras de mercaderia</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Salarios</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Administración y ventas</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Pago de impuestos</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Pago de publicidad</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Consumo de luz</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Consumo de agua</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Consumo de telefono</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
      <tr>
        <th scope="row">Total</th>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
      </tr>
    </tbody>
  </table>
</div><br>

<div class="table-responsive">
    <table class="table table-striped table-bordered" style="text-align: center;">
      <thead>
        <tr style="text-align: center;">
          <th scope="col">2019</th>
          <th scope="col">Enero</th>
          <th scope="col">Febrero</th>
          <th scope="col">Marzo</th>
          <th scope="col">Abril</th>
          <th scope="col">Mayo</th>
          <th scope="col">Junio</th>
          <th scope="col">Julio</th>
          <th scope="col">Agosto</th>
          <th scope="col">Septiembre</th>
          <th scope="col">Octubre</th>
          <th scope="col">Noviembre</th>
          <th scope="col">Diciembre</th>
        </tr>
      </thead>
      <tbody>
          <tr class="bg-success">
              <th scope="row"colspan="13">Resultado</th>
            </tr>
        <tr>
          <th scope="row">Total</th>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 100000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        </tr>
        <tr class="bg-warning">
          <th scope="row">Flujo de mes</th>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        </tr>
        <tr>
          <th scope="row">flujo acumulado</th>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 100 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 10000000 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
          <td>{{ 1 | currency:"CLP" : "symbol-narrow":'1.0'}}</td>
        </tr>
      </tbody>
      </table>
      </div> <br>